{% extends 'admin/dashboard.html' %}


{% block dashboard %}

    <h2>ثبت مقاله</h2>
    <div class="container">
        <form class="form-group" action="{% url 'create.article' category.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <label for="id_title">عنوان:
                <input class="form-control" id="id_title" type="text" name="title" placeholder="عنوان...">
            </label>
            <br>
            <label for="id_name">نام:
                <input class="form-control" id="id_name" type="text" name="name" placeholder="نام...">
            </label>
            <br>
            <label for="id_author">نویسنده:
                <input class="form-control" id="id_author" type="text" name="author" placeholder="نویسنده...">
            </label>
            <br>
            <label for="id_body">توضیحات:
                <textarea class="form-control" id="id_body" name="body" placeholder="توضیحات..."></textarea>
            </label>
            <br>
            <label for="id_image">عکس:
                <input class="form-control" id="id_image" type="file" name="image">
            </label>
            <br>
            <input type="submit" class="btn btn-success" value="ثبت مقاله">
        </form>

    </div>

{% endblock %}