{% extends 'main.html' %}

{% block content %}

    <form class="form-group" action="{% url 'login' %}" method="POST">

        <div class="container">
            <div class="row justify-content-center mt-5">
                <div class="card col-4">
                    <div class="card-header">
                        <h1>LOGIN</h1>
                    </div>
                    <div class="card-body">
                        <label for="id_username">Username:
                            <input class="form-control" type="text" id="id_username" name="username" placeholder="Username...">
                        </label>

                        <label for="id_password">Password:
                            <input class="form-control" type="password" id="id_password" name="password" placeholder="Password...">
                        </label>
                    </div>
                    <div class="card-footer">
                        <input class="btn btn-outline-success" type="submit" value="Login">

                    </div>
                </div>
            </div>
        </div>

        {% csrf_token %}

    </form>

{% endblock %}