{% extends 'admin/dashboard.html' %}

{% block dashboard %}
    <h1>ویرایش دوره</h1>
    <form class="form-group" action="{% url 'update.course' course.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

        <div class="container">
            <label for="id_title">عنوان:
                <input class="form-control" type="text" name="title" id="id_title" value="{{ course.title }}">
            </label>
            <br>
            <label for="id_name">نام:
                <input class="form-control" type="text" name="name" id="id_name" value="{{ course.name }}">
            </label>
            <br>
            <label for="id_describe">مشخصات:
                <textarea class="form-control" type="text" name="describe" id="id_describe">{{ course.describe }}</textarea>
            </label>
            <br>
            <label for="id_price">قیمت:
                <input class="form-control" type="number" min="0" name="price" id="id_price" value="{{ course.price }}">
            </label>
            <br>
            <label for="id_image">عکس:
                <input class="form-control" type="file" name="image" id="id_image" value="{{ course.image }}">
            </label>
            <br>
            <input class="btn btn-success" type="submit" value="ثبت">
        </div>
    </form>


{% endblock %}